.axis,
.axis-title,
.chart-title,
.legend{
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}
.axis text {
  font-size: 14px;
}
.axis-title {
  font-size: 18px;
}
.chart-title {
  font-size: 24px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}